
<div class="sidebar">
  <header>
    <p>Chats</p>
  </header>
  <a routerLink="/nuevo">+</a>
  @for (chat of chatService.chats(); track chat.id) {
   
    <section class="chat-item">
      <img class="avatar" (click)="chatService.getChat(chat)" [src]="chat.avatar" [alt]="chat.name">
      <div class="chat-info">
        <div class="chat-header">
          <span class="chat-name" (click)="chatService.getChat(chat)">{{ chat.name }}</span>

          @if (chat.status === 'online') {
            <span class="status online">🟢</span>
          } @else {
            <span class="status offline">🔴</span>
          }
        </div>
        <div class="chat-status">
          <span>{{ chat.status }}</span>
        </div>
      </div>
    </section>
  }
</div>