header{
      width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(22, 99, 22);
    height: 60px;

}

p{                             
    font-size: 15px;             
    font-weight: bold;                           
    color:#f5f5f5;
}

.sidebar {
   position: fixed;
  background: #f5f5f5;
  min-height: 100vh;
  width: 250px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


.chat-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.chat-item:hover {
  background:rgb(89, 155, 255);;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-info {
  display: block;
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: block;
  display: flex;
  align-items: center;
  gap: 6px;
}

.chat-name {
  font-weight: bold;
}

.chat-status {
  font-size: 12px;
  color: gray;
}
a{
  text-decoration: none;
  color: inherit;
  padding: 20px;
  border-radius: 100%;
  background-color: rgb(22, 99, 22);
  position:fixed;
  bottom: 20px;
  left: 20px;
  color:white;
  font-size: 24px;  
}

@media (max-width: 768px) {
  header {
    display: none;
  }
  .sidebar {
    width: 60px;
    min-height: 100vh;
    background:  rgb(22, 99, 22),  

  };
  .chat-header{
    display: none; 
  }
  .chat-info{
    display: none; 
  }
  a{
    padding: 10px;
    left:5px;
    bottom:10px;


  }
  .avatar{
     left: 5px;
  }

}