
<section>
 
<form [formGroup]="form" (ngSubmit)="guardarContacto()">
    <H3>Agregar Contacto</H3>
    <br>
  <input type="text" formControlName="nombre" placeholder="Nombre"/>

  @if (form.get('nombre')?.invalid && form.get('nombre')?.touched) {
  <p>Nombre obligatorio</p>
  }

  <input type="text" formControlName="telefono" placeholder="Telefono" />

  @if (form.get('telefono')?.invalid && form.get('telefono')?.touched) {
  <p>Telefono invalido</p>
  }

  <input type="text" formControlName="avatar" placeholder="Avatar" />
  @if (form.get('avatar')?.invalid && form.get('avatar')?.touched) {
  <p>Avatar obligatorio</p>
  }

 <select id="opciones" name="opciones" formControlName="estado">
  <option value="offline">Offline</option>
  <option value="online">Online</option>
 </select>

   @if (form.get('estado')?.invalid && form.get('estado')?.touched) {
  <p>Estado obligatorio</p>
  }

  <button type="submit">Enviar</button>
</form>
</section>